##  Map function Higher order function (HOF)
- map() function takes a function and a sequence as its arguments. It returns iterator(some kind of sequence over which you can iterate one by one) on which the function is applied.

In [136]:
list1=[1,2,3,4,5,6]

In [137]:
transformed_list=list(map(l1,list1))

In [138]:
transformed_list

[1, 4, 9, 16, 25, 36]

In [139]:
import math
mapped=map(math.sqrt,transformed_list)

In [140]:
mapped

In [141]:
list(mapped)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

# an example of lambda function where it can accept variable length arguments

In [142]:
anon1=lambda *x:sum(x) #lambda also accepts variable length arguments

In [143]:
anon1(8,30,40,50,13)

141

# filter operation HOF

In [144]:
# define a lambda function which will evaluate to True if the number is even otherwise False
even_choice= lambda x: True if x%2==0 else False

In [145]:
# 1. function 2. iterable
list1=[12,13,14,15,16]
filter(even_choice,list1)

In [146]:
list(filter(even_choice,list1))

[12, 14, 16]

In [147]:
odd_choice= lambda x: True if x%2!=0 else False

In [148]:
list(filter(odd_choice,list1))

[13, 15]

# reduce operation HOF

In [149]:
from functools import reduce

In [150]:
reduce_list=[20,30,40,50,60,32]

In [151]:
l1_add= lambda x,y: x+y

In [152]:
reduce(l1_add,reduce_list)

232

In [154]:
type(reduce(lambda x,y : x*y, reduce_list))

int

In [159]:
def my_sum_function(accumulator, current_item): # x,y 
        return accumulator + current_item

reduce(my_sum_function,reduce_list)

In [161]:
def multiplier(multiplier,current_item):
    return multiplier*current_item

In [162]:
reduce(multiplier,reduce_list)

2304000000

In [167]:
def get_max(refitem,current_item): # reduce processes in the form of 2 elements at a time
    if refitem>current_item:
        return refitem
    else:
        return current_item

In [168]:
reduce(get_max,reduce_list)

60

In [169]:
max(reduce_list)

60

# yield keyword in generators

In [171]:
def gen_fibonacci(n):
    a,b=0,1
    for _ in range(n):
        yield a #yield keyword indicates it's a generator
        a,b=b,a+b

In [178]:
# generator object
gen_fib=gen_fibonacci(8)

In [186]:
next(gen_fib) #memory efficient way to generate sequences on demand

13

# scope of variables

In [192]:
# precedence given to local variable dict over built in keyword dict, here it gets treated as set as per local assignment
dict={1,2,3,4,6,8}

In [193]:
type(dict)

set

In [194]:
set=[1,2,3,4]

In [195]:
type(set)

list

In [196]:
# precedence to the local namespace

In [208]:
var_global=900 # defining outside the function

In [212]:
def manipulate_value():
    global var_global # needed to get it recognized as a global variable 
    var_global+=100
    return var_global

In [213]:
manipulate_value()

1000

In [214]:
var_global

1000

In [206]:
# precedence given to local

In [233]:
# nonlocal
var_nested=800
def outer_function():
    var_nested=100 # nonlocal
    def inner_function():
        nonlocal var_nested # dont assign during declaration
        #declare it as nonlocal
        var_nested=200
        print(var_nested)
    inner_function()
    #inner function invoked from outer scope
    print(var_nested) #enclosed scope
    return None

In [234]:
outer_function()

200
100

In [235]:
var_nested #global

200

# modularizing functions

In [236]:
%%writefile mymath.py
# defining functions in a file mymath.py n the same directory as current
def add(x,y):
    return x+y
def mult(x,y):
    return x*y
def exp(x,y):
    return x**y

Writing mymath.py

In [237]:
import mymath as mm #mm is alias
mm.add(6,7)

13

In [242]:
# using dictionary keys in lambda (quiz question discussion)

In [239]:
data=[{"name":"Eliza","age":45,"location":"Pune"},{"name":"Peter","age":56,"location":"Pune"},{"name":"Nikita","age":18,"location":"CA"}]

In [241]:
sorted(data,key=lambda p:p["age"],reverse=True)

[{'name': 'Peter', 'age': 56, 'location': 'Pune'},
 {'name': 'Eliza', 'age': 45, 'location': 'Pune'},
 {'name': 'Nikita', 'age': 18, 'location': 'CA'}]