# Today's Agenda
- Tuple
> ### What is Tuple?
> ### Different ways of creating Tuple?
> ### What is Tuple indexing?
> ### What are the built-in functions availble in Tuple!
> ### what is main Difference between List and Tuple
-------------------------------------------------------------
- Sets
> ### What is Sets?
> ### Different ways of creating Sets?
> ### How to call Set elements?
> ### How to apply different set operations?
> ### What are the built-in functions availble in sets!

# Tuple
- Collection which can be indexed but immutable, (apple, 250)
- So once we declare the tuple, we can not edit the data
- tuple will be declared using `()`

### tuple declaration

In [3]:
tup1=()
type(tup1)

tuple

In [4]:
tup2=tuple()

In [5]:
tup3=1,
type(tup3)

tuple

In [6]:
tup4=1,2,3,4 #comma separated
type(tup4)

tuple

In [7]:
tup4

(1, 2, 3, 4)

### How to add elements in tuple?

In [9]:
tup4=tup4+(1,2,3)

In [10]:
tup4

(1, 2, 3, 4, 1, 2, 3)

# duplicates permitted

### packing and unpacking

In [90]:
#packing
a = 10
b = 20

t1 = (a, b)
print(t1)

(10, 20)

In [11]:

tup5=(5,6)

In [91]:
#unpacking
a,b=tup5

In [92]:
a

5

In [93]:
b

6

# tuple indexing
- we can apply all the list indexing steps on the tuples

In [15]:
tup4

(1, 2, 3, 4, 1, 2, 3)

In [16]:
tup4[:4]

(1, 2, 3, 4)

In [17]:
tup4[1:]

(2, 3, 4, 1, 2, 3)

# tuple is a rigid data structure , so it has less scope of being manipulated

In [18]:
tup4.count(4) # how many times an element occurs

1

In [20]:
tup4.index(3) #actual index + 1

2

In [21]:
tup4=(1,[2,3],4,True)

In [22]:
tup4[1][1]=99

In [23]:
tup4

(1, [2, 99], 4, True)

- **Sets are like lists in that you use them for storing a collection of elements. Unlike lists, however, the elements in a set are nonduplicates and are not placed in any particular order.**
- **with { } we declare a set**
- **sets are unordered and unindexed**
- **set will not allow duplicate elements**

In [25]:
# sets declaration
set1=set()

In [26]:
# Creating empty set
len(set1)

0

In [27]:
set2={}
type(set2)

dict

In [29]:
# creating set using list
list1=[1,2,3,4,5,5,4,4,3]

In [32]:
set_list=set(list1)
set_list
#transforms into unqiue values
#data cleaning, preprocessing

{1, 2, 3, 4, 5}

# Built-in Functions

### adding elements into a set

### add()

In [36]:
set_list

{1, 2, 3, 4, 5, 9}

In [38]:
set_list.add(10)
set_list

{1, 2, 3, 4, 5, 9, 10}

In [39]:
# we can not add multiple elements using add
set_list.add(99,100)

TypeError: set.add() takes exactly one argument (2 given)

### update()
- we can add multiple elements using `update`

In [41]:
set_list.update([77,88,55])

In [42]:
set_list

{1, 2, 3, 4, 5, 9, 10, 55, 77, 88}

In [43]:
set_list.add(1.5)

In [44]:
set_list #unordered

{1, 1.5, 2, 3, 4, 5, 9, 10, 55, 77, 88}

### sort()

In [50]:
set_sort={3,24,4,77,100,12,1}

In [54]:
list3=list(set_sort)
list3
list3.sort()
list3

[1, 3, 4, 12, 24, 77, 100]

In [56]:
set_sort=set(list3)
set_sort

{1, 3, 4, 12, 24, 77, 100}

In [66]:
sorted(set_sort)

[1, 3, 4, 12, 24, 77, 100]

### discard()
- Discard will discard the value from the set
- if the value is not there in the set , discard will not throw any error

In [57]:
set_discard={4,5,6,7}

In [60]:
set_discard.discard(9)

In [61]:
set_discard

{4, 6, 7}

### remove()
- Remove will remove the value from the set if the value exists, if not
- it generates error

In [62]:
set_discard.remove(9) #if element not present, it throws keyerror

KeyError: 9

### pop()
- pop is used to delete element from the given set
- we can not the predict the which element will be delete because set is unindexed

In [64]:
set_discard.pop() #in case of set pop removes any item randomly
set_discard

{6, 7}

### clear()

In [65]:
set_discard.clear()
set_discard

set()

# Other set operations
- 1. union()
- 2. intersection()
- 3. differeence()

### union()

In [69]:
#Sets union, intersection and difference
setA={1,2,3,4,5,6}
setB = {2,3,4,5,6,7,8}
setU=setA.union(setB)

In [70]:
setU

{1, 2, 3, 4, 5, 6, 7, 8}

In [71]:
setA.intersection(setB) #common elements

{2, 3, 4, 5, 6}

In [72]:
setA&setB # & operator also does the same thing as intersection

{2, 3, 4, 5, 6}

In [73]:
setA|setB #| operator is also an alternative for union

{1, 2, 3, 4, 5, 6, 7, 8}

### intersection()

In [ ]:
#Sets union, intersection and difference
setA.intersection(setB) #common elements

### difference()

In [75]:
setA.difference(setB) # - operator
setA-setB

{1}

### symmetric difference

In [78]:
#Previous class notes

#Symmetric difference prints values of A and B and eliminates the common
#elements from both the sets

#This can also be written as below notation

#Both these gives same output
setA.symmetric_difference(setB)
(setA|setB)-(setA&setB)

{1, 7, 8}

# 2. Manipulating and Accessing Sets
- You can add an element to a set or remove an element by using the add(e) or remove(e) method. You can use the len, min, max, and sum functions on a set, and a for loop to traverse all elements in a set. You can use the in or not in operator to determine whether an element is in the set.

In [ ]:
 # Use function len
 # Use max
 # Use min
 # Use sum

In [79]:
set_maths={1,2,3,5,7,9,10}

In [80]:
len(set_maths)

7

In [82]:
max(set_maths)

10

In [83]:
min(set_maths)

1

In [84]:
sum(set_maths)

37

In [85]:
#do we have 3 in this set very fast as set is hashable
3 in set_maths

True

In [88]:
99 not in set_maths

True

In [89]:
for i in set_maths: #iterable
    print(i)

1
2
3
5
7
9
10