### Q.1 Write a function greet() that prints "Hello, Python!".

In [2]:
def greet():
    return "Hello, Python!"
 
greet()

'Hello, Python!'

### Q.2 Write a function square(n) that takes a number and returns its square.

In [3]:
def square(n):
    return n**2
 
square(3)

9

### Q.3 Write a function is_even(n) that returns True if a number is even, else False.

In [9]:
def is_even(data):
    is_even=False
    if data%2==0:
        is_even= True
        return is_even
    else:
        is_even= False
        return is_even
is_even(113)

False

### Q.4 Write a function max_of_two(a, b) that returns the greater of two numbers.

In [12]:
def max_of_two(a,b):
    data=a+b
    return data
  
max_of_two(10,20)

30

### Q.5 Write a function count_vowels(s) that takes a string and returns the number of vowels in it.

In [15]:
def count_vowels(s):
    vowels ="AEIOUaeiou"
    return sum(1 for ch in vowels if ch in vowels)
data="hello world im kunal"
count_vowels(data)

10

### Q.6 Write a function factorial(n) that returns the factorial of a given number using recursion.

In [19]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

 
factorial(5)

120

### Q.7 Write a function fibonacci(n) that returns the first n numbers in the Fibonacci sequence.

In [3]:
def fib(n):
    a,b=0,1
    seq=[]
    for _ in range(n):
        seq.append(a)
        a,b=b,a+b 
    return seq 
 
fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]


### Q.8 Write a function reverse_string(s) that returns the reversed version of the input string.

In [4]:
def reverse_string(s):
    return s[::-1]

data="innomatics"
reverse_string(data)

'scitamonni'

### Q.9 Write a function palindrome(s) that checks whether a string is a palindrome (case-insensitive).

In [ ]:
def palindrome(s):
    s = s.replace(" ", "").lower() 
    return s == s[::-1]

data="moM"
palindrome(data)

True

### Q.10 Write a function find_max_min(lst) that returns both the maximum and minimum values from a list.

In [6]:
def find_max_min(l):
    max_=max(l)
    min_=min(l)
    return max_,min_


data=[11,32,12,434,12]
find_max_min(data)

(434, 11)


### Q.11 Write a function custom_map(func, lst) that mimics the built-in map() function.

In [7]:
def custom_map(func, lst):
    result = []
    for item in lst:
        result.append(func(item))
    return result

def square(x):
    return x * x

print(custom_map(square, [1, 2, 3, 4]))

[1, 4, 9, 16]

### Q.12 Write a function flatten_list(nested_list) that flattens a list of lists into a single list.

In [8]:
def flatten_list(nested_list):
    flat = []
    for sublist in nested_list:
        for item in sublist:
            flat.append(item)
    return flat

data = [[1, 2], [3, 4], [5, 6]]
print(flatten_list(data))

[1, 2, 3, 4, 5, 6]


### Q.13 Write a function apply_discount(price, discount=10) that applies a discount (default 10%) and returns the new price.

In [12]:
def apply_discount(price, discount=10):
    return price - (price * discount / 100)

print(apply_discount(50))        
print(apply_discount(200, 20))

45.0
160.0

### Q.14 Write a lambda function to sort a list of tuples by the second element.

In [13]:
sorted_list = lambda lst: sorted(lst, key=lambda x: x[1])
data = [(1, 5), (3, 1), (2, 4)]

print(sorted_list(data))

[(3, 1), (2, 4), (1, 5)]