# ------------------**List** (Level-Medium)----------------------

### 1. **Create a list** `[10, 20, 30, 40, 50]` and replace the second element with `25`.

In [8]:
list1 =[10,20,30,40,50]
print("Original list:",list1)
list1[1]=25
print("After Replace:",list1)

Original list: [10, 20, 30, 40, 50]
After Replace: [10, 25, 30, 40, 50]

---

### 2. Given the list `[5, 10, 15, 20, 25]`, **slice** the list to get the elements from index `1` to `3`.

In [13]:
data=[5, 10, 15, 20, 25]
print("Original list:",data)
print("After Slicing:",data[1:4])

Original list: [5, 10, 15, 20, 25]
After Slicing: [10, 15, 20]

---

### 3. **Append** the number `35` to the list `[10, 20, 30]`.

In [17]:
data=[10, 20, 30]
print("Original list:",data)
data.append(35)
print("After Append list:",data)

Original list: [10, 20, 30]
After Append list: [10, 20, 30, 35]

---

### 4. **Insert** the number `45` at index `2` in the list `[10, 20, 30, 40]`.

In [19]:
data =[10,20,30,40]
print("Original list:",data)
data.insert(2,45)
print("After insert list:",data)

Original list: [10, 20, 30, 40]
After insert list: [10, 20, 45, 30, 40]

---

### 5. **Remove** the element `20` from the list `[10, 20, 30, 40, 50]` using the `remove()` method.

In [21]:
data =[10,20,30,40,50]
print("Original list:",data)
data.remove(20)
print("After removing list:",data)

Original list: [10, 20, 30, 40, 50]
After removing list: [10, 30, 40, 50]

---

### 6. **Find the index** of the element `30` in the list `[10, 20, 30, 40, 50]`.

In [23]:
data =[10,20,30,40,50]
print("The element 30 is at index:",data.index(30))

The element 30 is at index: 2

---

### 7. **Sort** the list `[3, 1, 4, 5, 2]` in ascending order.

In [27]:
data=[3,1,4,5,2]
print("Original",data)
data.sort()
print("After sort",data)

Original [3, 1, 4, 5, 2]
After sort [1, 2, 3, 4, 5]

---

### 8. **Reverse** the list `[1, 2, 3, 4, 5]` *without* using `reverse()` or slicing `[::-1]`.

In [31]:
data=[1, 2, 3, 4, 5]
rev = []

for i in data:
    rev.insert(0,i)   

print(rev)

[5, 4, 3, 2, 1]

---

### 9. **Count** how many times the number `2` appears in the list `[1, 2, 3, 2, 4, 2, 5]`.

In [33]:
data =[1, 2, 3, 2, 4, 2, 5]
print("The number of count 2 reapeated is:",data.count(2))

The number of count 2 reapeated is: 3

---

### 10. **Extend** the list `[1, 2, 3]` with another list `[4, 5, 6]`.

In [34]:
data1 =[1,2,3]
data2=[4,5,6]
data1.extend(data2)
print(data1)

[1, 2, 3, 4, 5, 6]