**Q1 (Medium):** Write a function that takes a list of strings and returns a new list with all strings converted to uppercase and sorted alphabetically.

In [18]:
def sort_upper_alpha(n):
    print(sorted(list(map(lambda x:str.upper(x),n))))
    
list1=["a","c","e","b","f","d"]
sort_upper_alpha(list1)

['A', 'B', 'C', 'D', 'E', 'F']


**Q2 (Medium):** Write a Python program that checks whether a number is a prime or not (input from user).

In [ ]:
n=eval(input("Enter the number: "))



flag=True
for i in range(2,n):
    d=2
    while n>d:
        if n%d==0:
            
           flag=False
           break
        d+=1
    if not flag:
        break  
print("Prime" if flag and n > 1 else "Not Prime")

Prime

**Q3 (Medium):** Write a function that takes a list of numbers and returns the second largest number.

In [21]:
def sec_largest_num(n):
    data = sorted(list(map(lambda x:int(x),n)))
    print(data[-2])

list1=[9,5,4,6,1,7,6,3,1,4,8]
sec_largest_num(list1)

8

**Q4 (Medium):** Write a Python program to remove duplicates from a list without using `set()`.

In [57]:
data =[1,2,3,4,1,2]
duplicate =[x for x in data if data.count(x)<=1]
duplicate

[3, 4]

In [58]:
data
newlist=[]
for i in data:
    if i not in newlist:
        newlist.append(i)

    
print(newlist)

[1, 2, 3, 4]

**Q5 (Medium):** Write a Python function that takes a list of integers and returns a dictionary with the number as the key and its square as the value.

In [71]:
def printdata(n):
    return {x: x**2 for x in n}


list1=[9,8,7,6,5,4,9]
printdata(list1)

{9: 81, 8: 64, 7: 49, 6: 36, 5: 25, 4: 16}


**Q6 (Medium):** Write a program that takes a list of tuples (each containing name and score), and returns the name of the student with the highest score.

In [107]:
def highscore(n):
    return max(n, key=lambda x:x[1] )


students = [
    ("Kunal", 85),
    ("Amit", 92),
    ("Neha", 78),
    ("Riya", 90)
]
highscore(students)

('Amit', 92)

**Q7 (Medium):** Write a function that takes a string and returns a new string with all vowels removed.

In [ ]:
def vowels_s(data):
    vowels="AEIOUaeiou"
    list1=[]
    for i in data:
        if i not in vowels:
            list1.append(i)
    print(list1)
        


data ="Innomatics"
vowels_s(data)

['n', 'n', 'm', 't', 'c', 's']

**Q8 (Medium):** Write a Python program that reads a file and counts how many lines start with the letter **"A"**.

In [ ]:
with open("data.txt","w") as t:
    data = "Hello! my name is Kunal\nHope you are good.\nWish you a Merry Christmas "
    t.write(data)

In [133]:
with open("data.txt","r") as t:
    count=0
    for i in t.readlines:
        print(i)
        count+=1
        
print(count)

TypeError: 'builtin_function_or_method' object is not iterable


**Q9 (Medium):** Write a program that takes two numbers from the user and performs division. Handle the case where the second number is zero.

**Q10 (Medium):** Create a class `Rectangle` with attributes `length` and `width`. Add methods to calculate area and perimeter.



**Q11 (Medium):** Create a class `Person` with `name` and `age`, and a subclass `Student` that adds a student ID. Print their details using a method.



**Q12 (Medium):** Write a program to print the multiplication table of a given number (from 1 to 10).


**Q13 (Medium):** Write a function that takes a nested list of integers and returns the sum of all integers.


**Q14 (Medium):** Write a Python function that takes a list of tuples (`name`, `age`) and returns the list sorted by age.

**Q15 (Medium):** Write a Python function that takes two date strings in the format `YYYY-MM-DD` and prints how many days apart they are.